<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Learning Vue</title>
</head>
<body>
   <h1>Hello World</h1> 
   <div id="app">
        <h2> Vue training</h2>
        <p>{{age}}</p>
        <button @click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <br />
        <br />
        <hr />
        <br />
        <div v-if="showBooks">
            <p>{{ title }} - {{author}}</p>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <div @click="changeTitle('Oath')">Change book title</div>
        <div v-show="showBooks" class="show">Currently showing books</div>
        <br />
        <hr />
        <br />
        <div>
            <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
            <div class="box" @mouseleave="handleEvent">mouseleave</div>
            <div class="box" @dblclick="handleEvent">double click</div>
            <div class="box" :style='{backgroundColor: color}' @mousemove="handleMouseMove">position - {{x}}, position - {{y}}</div>
        </div>
   </div>
   <script src="app.js"></script>
</body>
</html>